<div class="flex m-auto mt-5 h-[400px] ">
    <div class="w-2/5">
        <img  class="h-full w-full object-contain" src={{ProductDetails?.productImageLink}} />
    </div>
    <div class="flex flex-col gap-3 px-2">
        <h1 class="text-4xl font-bold ">{{ProductDetails?.productName | titlecase}}</h1>
        <h1 class="text-3xl font-bold ">Price : {{ProductDetails?.productPrice}}</h1>
        <div>Color : <h1 [style.backgroundColor]="ProductDetails?.productColor" class=" flex h-8 w-8 rounded-full border-2"></h1> </div>
        <h2 class="text-xl">Category: {{ProductDetails?.productCategory}}</h2>
        <p>Description: {{ProductDetails?.productDescription}}</p>
        <div class="flex gap-2 ">
            <button *ngIf="!removeitem" class="bg-gray-400 border-black rounded-md px-4 py-2" (click)="handleAddtoCart()">Add to Cart</button>
            <button *ngIf="removeitem" class="bg-gray-400 border-black rounded-md px-4 py-2" (click)="handleRemovetoCart(ProductDetails?.id)">Remove Cart</button>
            <button class="bg-gray-400 border-black rounded-md px-4 py-2">Buy Now</button>

        </div>

        <div class="flex border-black  border-2 h-10 font-bold">
            <h1 (click) = "handleQuantity('minus')" class="bg-gray-400 border-r-2 border-black text-black text-center cursor-pointer w-2/5 ">-</h1>
            <input  type ="number" name="quantity" #quantity (change)="setProductQuantity(quantity.value)" [value]="productQuantity" class="text-center text-black w-3/5"/>
            <h1 (click) = "handleQuantity('plus')" class="bg-gray-400 border-l-2 border-black text-black text-center cursor-pointer w-2/5 ">+</h1>
            </div>

    </div>
</div>
